:root {
  --window-alpha: 0.8;
  --bar-height: 1.8em;
  --content-width: 50em;
  --content-height: 90vh;
  --content-max-height: 800px;
  --gutter-width: 1.5em;
  --line-height: 20px;
  --font-size: 12px;

  --spacing-xsm: 0.35em;
  --spacing-sm: 0.7em;
  --spacing: 1em;
  --spacing-lg: 1.5em;

  --z-index-content: 100;
  --z-index-gutter: 90;
  --z-index-line-highlight: 80;
}

body.default-theme {
  --color-primary: #2045e8;
  --color-secondary: #9b20e8;
  --color-background: #000000;
  --color-background-light: #111111;
  --color-default-text: #ffffff;
  --color-accent-text: #ffffff;
  --color-border: #333;
  --color-window: rgba(0,0,0,0.94);
}

body {
  margin: 0;
  font-family: monospace;
  font-size: var(--font-size);
  background-image: url('wallpaper.jpg');
  background-size: cover;
}

#page-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#window {
  width: var(--content-width);
  height: var(--content-height);
  max-height: var(--content-max-height);
  border: 2px solid var(--color-border);
  display: flex;
  flex-direction: column;
  background-color: var(--color-window);
  box-shadow: 2px 2px 10px 1px #0000009c;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-accent-text);
}

p, pre {
  line-height: var(--line-height);
  font-size: var(--font-size);
  margin: 0;
}

.tab {
  background-color: transparent;
  padding: var(--spacing-sm);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.tab-active {
  background-color: var(--color-primary);
  color: var(--color-default-text);
}

main {
  width: 100%;
  flex: 1;
  display: inline-flex;
  overflow-y: hidden;
  padding: 0 var(--spacing-sm);
  padding-bottom: 0;
  box-sizing: border-box;
  position: relative;
}

aside {
  width: var(--gutter-width);
  height: auto;
  background-color: transparent;
  display: block;
  z-index: var(--z-index-gutter);
  overflow-y: hidden;
}

.line-number {
  color: var(--color-default-text);
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

#line-highlight {
  position: absolute;
  width: var(--content-width);
  height: var(--line-height);
  left: 0;
  top: 0px;
  background-color: red;
  z-index: var(--z-index-line-highlight);
}

#content {
  flex: 1;
  /* height: calc(var(--content-height) - (var(--bar-height)*4)); */
  height: auto;
  color: var(--color-default-text);
  padding: 0 var(--spacing-sm);
  overflow-y: hidden;
  font-size: var(--font-size);
  z-index: var(--z-index-content);
}

footer {
  width: var(--content-width);
  height: auto;
  display: flex;
  flex-direction: column;
}

.bar {
  display: inline-flex;
  height: var(--bar-height);
  width: 100%;
  background-color: var(--color-background-light);
}

.commands {
  background-color: transparent;
}

.block {
  height: 100%;
  padding: 0 var(--spacing-sm);
  display: inline-flex;
  align-items: center;
  color: var(--color-default-text);
}

.expand {
  flex: 1;
}

.align-right {
  justify-content: flex-end;
}

.color-primary {
  background-color: var(--color-primary);
  color: var(--color-accent-text);
}

.color-secondary {
  background-color: var(--color-secondary);
  color: var(--color-accent-text);
}
