:root {
  --font-family: monospace;
  --window-alpha: 0.8;
  --bar-height: calc(var(--line-height));
  --content-min-width: 650px;
  --content-width: 55vw;
  --content-max-width: 1000px;
  --content-height: 95vh;
  --content-max-height: 1000px;
  --gutter-width: 1.5em;
  --scroll-block-width: 2.5em;
  --keybinding-display-width: 8em;
  --list-marker-width: 3em;
  --line-height: 20px;
  --font-size: 1em;

  --spacing-xsm: 0.35em;
  --spacing-sm: 0.7em;
  --spacing: 1em;
  --spacing-lg: 1.5em;

  --z-index-content: 100;
  --z-index-gutter: 90;
}

body.default-theme {
  --color-primary: #fecfc7;
  --color-secondary: #445d86;
  --color-background-light: #2f3332;
  --color-default-text: #ffffff;
  --color-accent-text: #333;
  --color-light-text: #e8e8e8;
  --color-secondary-text: #7493ff;
  --color-line-number: #7b7b7b;
  --color-border: #f0d1ce;
  --color-window: rgba(18, 18, 16, 0.91);
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-image: url('img/wallpaper.jpg');
  background-size: cover;
}

#page-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#window {
  width: var(--content-width);
  min-width: var(--content-min-width);
  max-width: var(--content-max-width);
  height: var(--content-height);
  max-height: var(--content-max-height);
  border: 2px solid var(--color-border);
  display: flex;
  flex-direction: column;
  background-color: var(--color-window);
  box-shadow: 2px 2px 10px 1px #0000009c;
  overflow: hidden;
}

a, ol, ul, li, p, pre {
  line-height: var(--line-height);
  font-size: var(--font-size);
  margin: 0;
}

ol, ul {
  margin-bottom: var(--line-height);
  padding-left: calc(var(--line-height)*1.5);
}

a, p, pre, textarea, button {
  color: var(--color-light-text);
}

em {
  color: var(--color-default-text);
}

a {
  font-size: var(--font-size);
  font-weight: bold;
  height: var(--line-height);
  display: inline-block;
  margin-right: calc(var(--line-height)/2);
  color: var(--color-primary);
}

h1 {
  font-size: calc(var(--line-height)*0.7);
}

h1:first-of-type, blockquote > p {
  margin-top: 0;
}

h1, h2, h3, h4, h5 {
  line-height: var(--line-height);
  color: var(--color-default-text);
  margin: 0;
  margin-top: var(--line-height);
  text-transform: uppercase;
}

h2, h3, h4, h5 {
  font-size: var(--font-size);
}

h1::before, h2::before, h3::before, h4::before, h5::before {
  content: '[';
  color: var(--color-secondary-text);
}

h1::after, h2::after, h3::after, h4::after, h5::after {
  content: ']';
  color: var(--color-secondary-text);
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  display: none; /* i dont feel like fixing this shit */
}

li::marker {
  color: var(--color-secondary-text);
  width: var(--list-marker-width);
}

button {
  border: none;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

img, video {
	max-width: calc(100% - var(--gutter-width));
  object-fit: cover;
  height: 100%;
  align-self: flex-start;
}

a > img {
  max-width: 100%;
}

img + img {
	margin-top: var(--line-height);
}

blockquote {
  margin: var(--line-height);
  font-style: italic;
  font-weight: bold;
  display: inline-flex;
}

blockquote, blockquote > p {
  color: var(--color-default-text);
}

blockquote::before {
  content: '--- ';
  color: var(--color-secondary-text);
  margin-right: var(--spacing-sm);
  display: inline-flex;
  align-items: center;
}

code > pre {
  padding-left: var(--line-height);
}

.tab {
  background-color: transparent;
  padding: 0 var(--spacing-sm);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--bar-height);
}

.tab-active {
  background-color: var(--color-primary);
  color: var(--color-accent-text);
}

main {
  width: 100%;
  flex: 1;
  display: inline-flex;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: var(--spacing-sm);
  padding-top: calc(var(--line-height)/2);
  box-sizing: border-box;
  position: relative;
  scrollbar-width: none; /* hides the scrollbar in Firefox */
}

main::-webkit-scrollbar {
  display: none; /* webkit browsers implementation */
}

aside {
  width: var(--gutter-width);
  height: auto;
  background-color: transparent;
  display: block;
  z-index: var(--z-index-gutter);
}

.line-number {
  color: var(--color-line-number);
  text-align: right;
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  line-height: var(--line-height);
}

#content {
  flex: 1;
  height: auto;
  color: var(--color-default-text);
  padding-left: var(--spacing-sm);
  font-size: var(--font-size);
  z-index: var(--z-index-content);
}

#scroll {
  width: var(--scroll-block-width);
  justify-content: flex-end;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.bar {
  display: inline-flex;
  height: var(--bar-height);
  width: 100%;
  background-color: var(--color-background-light);
}

.commands {
  background-color: transparent;
}

.block {
  height: 100%;
  padding: 0 var(--spacing-sm);
  display: inline-flex;
  align-items: center;
  color: var(--color-default-text);
}

input {
	background-color: transparent;
	border: none;
	color: var(--color-default-text);
	padding: 0;
	margin: 0;
	margin-left: var(--spacing-sm);
	height: var(--bar-height);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

#command-input {
  flex: 1;
}

#keybinding-display {
  width: var(--keybinding-display-width);
  margin: 0;
}

.expand {
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: var(--line-height) 0;
}

.align-right {
  justify-content: flex-end;
}

.block-primary {
  background-color: var(--color-primary);
  color: var(--color-accent-text);
}

.block-secondary {
  background-color: var(--color-secondary);
  color: var(--color-default-text);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

@media screen and (max-width: 750px) {
  :root {
    --content-height: calc(100vh - 0px);
    --content-width: 100%;
    --content-min-width: unset;
  }

  #window {
    border: 0;
  }
}

@media screen and (max-width: 500px) {
  #info {
    display: none
  }

  #file {
    flex: 1;
  }

  #gutter {
    display: none;
  }
}
